<!DOCTYPE html>
<html>
<head>
  <script src="jquery.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <script type="text/javascript" charset="utf-8">
  $(function() {
    <%= yield %>
  });
  </script>
</body>
</html>