<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css" type="text/css" charset="utf-8">
  <script src="jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="application.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <%= yield %>
</body>
</html>